@import url(//db.onlinewebfonts.com/c/26f7bcdf8d188588f4744e5b49d12d6a?family=evfont);
@font-face {font-family: "evfont"; src: url("//db.onlinewebfonts.com/t/26f7bcdf8d188588f4744e5b49d12d6a.eot"); src: url("//db.onlinewebfonts.com/t/26f7bcdf8d188588f4744e5b49d12d6a.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/26f7bcdf8d188588f4744e5b49d12d6a.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/26f7bcdf8d188588f4744e5b49d12d6a.woff") format("woff"), url("//db.onlinewebfonts.com/t/26f7bcdf8d188588f4744e5b49d12d6a.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/26f7bcdf8d188588f4744e5b49d12d6a.svg#evfont") format("svg"); }

* {
    font-family: evfont;
}
:root {
    --color1: #4a4e4d; 
    --color2: #0e9aa7; 
    --color3: #3da4ab;
    --color4: #f6cd61; 
    --color5: #fe8a71;
}
.bg1 {
    background-color: var(--color4);
}
body {
    background-color: var(--color5);
    font-size: 26px;
}
.btn {
    font-size: 26px;
}
a {
    text-decoration: underline;
    color: var(--color5);
}
a:hover {
    cursor: pointer;
    color: var(--color2);
}
label {
    margin: 0;
    padding-left: 4px;
}
.strikethrough {
    text-decoration: line-through;
}
#todoInput {
    outline: 0;
    background-color: transparent;
    border-width: 0 0 1px;
    border-color: var(--color1);
}

footer {
    position: fixed;
    width:100%;
    bottom: 0;
}
