* {
    font-family: Arial, Helvetica, sans-serif;
}
:root {
    --color1: #4a4e4d; 
    --color2: #0e9aa7; 
    --color3: #3da4ab;
    --color4: #f6cd61; 
    --color5: #fe8a71;
}
body {
    background-color: var(--color4);
}
a {
    text-decoration: underline;
    color: var(--color5);
}
a:hover {
    cursor: pointer;
    color: var(--color2);
}
label {
    margin: 0;
    padding-left: 4px;
}
.strikethrough {
    text-decoration: line-through;
}


footer {
    position: fixed;
    width:100%;
    bottom: 0;
}
